apiVersion: v1
kind: ConfigMap
metadata:
  name: valkey-config
  namespace: app-prod
data:
  valkey.conf: |
    bind 0.0.0.0
    port 6379
    protected-mode no
    appendonly yes
    appendfsync everysec
    dir /data
    save 900 1
    save 300 10
    save 60 10000
---
apiVersion: v1
kind: Service
metadata:
  name: valkey
  namespace: app-prod
spec:
  type: ClusterIP
  ports:
    - name: valkey
      port: 6379
      targetPort: 6379
  selector:
    app: valkey
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: valkey
  namespace: app-prod
spec:
  serviceName: valkey
  replicas: 1
  selector:
    matchLabels:
      app: valkey
  template:
    metadata:
      labels:
        app: valkey
    spec:
      containers:
        - name: valkey
          image: valkey/valkey:7.2.5
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 6379
              name: valkey
          args: ["/etc/valkey/valkey.conf"]
          volumeMounts:
            - name: data
              mountPath: /data
            - name: config
              mountPath: /etc/valkey
          livenessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 6379
            initialDelaySeconds: 5
            periodSeconds: 10
      volumes:
        - name: config
          configMap:
            name: valkey-config
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 20Gi
