{
	"openapi": "3.1.0",
	"info": {
		"title": "Z8 Public API",
		"version": "1.0.0",
		"description": "Read your organization's data from your own systems with an organization API key.\n\nSend the key as `Authorization: Bearer <key>`. A key acts as its organization, limited to its key scopes.\nErrors are `application/problem+json` (RFC 9457). Within `/api/v1`, changes only add fields or endpoints."
	},
	"servers": [
		{
			"url": "https://ui.z8-time.app",
			"description": "Z8"
		}
	],
	"security": [
		{
			"apiKey": []
		}
	],
	"tags": [
		{
			"name": "Employees"
		}
	],
	"paths": {
		"/api/v1/employees": {
			"get": {
				"operationId": "listEmployees",
				"tags": [
					"Employees"
				],
				"summary": "List employees",
				"description": "The organization's employees, including departed ones. Contract, salary, address and birthday are never returned.\n\nRequires the key scope `employees:read`.",
				"security": [
					{
						"apiKey": []
					}
				],
				"parameters": [
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"description": "Rows per page, 1 to 200.",
						"schema": {
							"default": 50,
							"type": "integer",
							"minimum": 1,
							"maximum": 200
						}
					},
					{
						"name": "cursor",
						"in": "query",
						"required": false,
						"description": "The `nextCursor` of the previous page. Omit it for the first page.",
						"schema": {
							"type": "string",
							"minLength": 1,
							"maxLength": 1024
						}
					},
					{
						"name": "status",
						"in": "query",
						"required": false,
						"description": "Only employees with this status. Both by default.",
						"schema": {
							"type": "string",
							"enum": [
								"active",
								"departed"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"headers": {
							"X-RateLimit-Limit": {
								"description": "Requests allowed in the current window of the tighter limit (key or organization).",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Remaining": {
								"description": "Requests left in that window.",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Reset": {
								"description": "When that window resets, as Unix epoch seconds.",
								"schema": {
									"type": "integer"
								}
							}
						},
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"data": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"id": {
														"type": "string",
														"format": "uuid"
													},
													"firstName": {
														"type": [
															"string",
															"null"
														]
													},
													"lastName": {
														"type": [
															"string",
															"null"
														]
													},
													"workEmail": {
														"type": "string"
													},
													"employeeNumber": {
														"type": [
															"string",
															"null"
														]
													},
													"teamIds": {
														"type": "array",
														"items": {
															"type": "string",
															"format": "uuid"
														},
														"description": "Every team the employee belongs to."
													},
													"managerId": {
														"anyOf": [
															{
																"type": "string",
																"format": "uuid"
															},
															{
																"type": "null"
															}
														],
														"description": "The employee's primary manager, an employee id."
													},
													"status": {
														"type": "string",
														"enum": [
															"active",
															"departed"
														],
														"description": "`departed` once the employee's departure has taken effect."
													},
													"startDate": {
														"anyOf": [
															{
																"type": "string",
																"format": "date",
																"pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
																"description": "A local calendar date, YYYY-MM-DD."
															},
															{
																"type": "null"
															}
														]
													},
													"departureDate": {
														"anyOf": [
															{
																"type": "string",
																"format": "date",
																"pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$",
																"description": "A local calendar date, YYYY-MM-DD."
															},
															{
																"type": "null"
															}
														],
														"description": "The last working day of a scheduled or completed departure."
													}
												},
												"required": [
													"id",
													"firstName",
													"lastName",
													"workEmail",
													"employeeNumber",
													"teamIds",
													"managerId",
													"status",
													"startDate",
													"departureDate"
												],
												"additionalProperties": false,
												"title": "Employee"
											}
										},
										"nextCursor": {
											"description": "Pass as `cursor` to read the next page; null on the last page.",
											"type": [
												"string",
												"null"
											]
										}
									},
									"required": [
										"data",
										"nextCursor"
									],
									"additionalProperties": false
								}
							}
						}
					},
					"400": {
						"description": "`validation_failed`: a query parameter is invalid.",
						"headers": {
							"X-RateLimit-Limit": {
								"description": "Requests allowed in the current window of the tighter limit (key or organization).",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Remaining": {
								"description": "Requests left in that window.",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Reset": {
								"description": "When that window resets, as Unix epoch seconds.",
								"schema": {
									"type": "integer"
								}
							}
						},
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								}
							}
						}
					},
					"401": {
						"description": "`invalid_key`: the API key is missing, unknown, revoked or expired.",
						"headers": {
							"X-RateLimit-Limit": {
								"description": "Requests allowed in the current window of the tighter limit (key or organization).",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Remaining": {
								"description": "Requests left in that window.",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Reset": {
								"description": "When that window resets, as Unix epoch seconds.",
								"schema": {
									"type": "integer"
								}
							}
						},
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								}
							}
						}
					},
					"402": {
						"description": "`billing_required`: the organization has no billing access.",
						"headers": {
							"X-RateLimit-Limit": {
								"description": "Requests allowed in the current window of the tighter limit (key or organization).",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Remaining": {
								"description": "Requests left in that window.",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Reset": {
								"description": "When that window resets, as Unix epoch seconds.",
								"schema": {
									"type": "integer"
								}
							}
						},
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								}
							}
						}
					},
					"403": {
						"description": "`scope_missing`: the key lacks the endpoint's key scope.",
						"headers": {
							"X-RateLimit-Limit": {
								"description": "Requests allowed in the current window of the tighter limit (key or organization).",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Remaining": {
								"description": "Requests left in that window.",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Reset": {
								"description": "When that window resets, as Unix epoch seconds.",
								"schema": {
									"type": "integer"
								}
							}
						},
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								}
							}
						}
					},
					"429": {
						"description": "`rate_limited`: the key's or the organization's request limit is used up.",
						"headers": {
							"X-RateLimit-Limit": {
								"description": "Requests allowed in the current window of the tighter limit (key or organization).",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Remaining": {
								"description": "Requests left in that window.",
								"schema": {
									"type": "integer"
								}
							},
							"X-RateLimit-Reset": {
								"description": "When that window resets, as Unix epoch seconds.",
								"schema": {
									"type": "integer"
								}
							},
							"Retry-After": {
								"description": "Seconds until a request may be retried.",
								"schema": {
									"type": "integer"
								}
							}
						},
						"content": {
							"application/problem+json": {
								"schema": {
									"$ref": "#/components/schemas/Problem"
								}
							}
						}
					}
				},
				"x-z8-scope": "employees:read"
			}
		}
	},
	"components": {
		"securitySchemes": {
			"apiKey": {
				"type": "http",
				"scheme": "bearer",
				"description": "An organization API key (starts with `z8_org`)."
			}
		},
		"schemas": {
			"Problem": {
				"type": "object",
				"properties": {
					"type": {
						"type": "string",
						"enum": [
							"invalid_key",
							"scope_missing",
							"billing_required",
							"rate_limited",
							"validation_failed",
							"not_found",
							"server_error"
						]
					},
					"title": {
						"type": "string"
					},
					"status": {
						"type": "integer",
						"minimum": -9007199254740991,
						"maximum": 9007199254740991
					},
					"detail": {
						"type": "string"
					},
					"errors": {
						"description": "For `validation_failed`: each invalid query parameter.",
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"parameter": {
									"type": "string"
								},
								"message": {
									"type": "string"
								}
							},
							"required": [
								"parameter",
								"message"
							],
							"additionalProperties": false
						}
					},
					"requiredScope": {
						"description": "For `scope_missing`: the key scope the endpoint requires.",
						"type": "string",
						"enum": [
							"time-entries:read",
							"absences:read",
							"absences:read-health",
							"employees:read",
							"projects:read",
							"customers:read"
						]
					}
				},
				"required": [
					"type",
					"title",
					"status"
				],
				"additionalProperties": false,
				"title": "Problem"
			}
		}
	}
}
