name: z8
services:
  db:
    image: postgres:18-alpine
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-postgres}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-mysecretpassword}
      POSTGRES_DB: ${POSTGRES_DB:-postgres}
    volumes:
      - default_data:/var/lib/postgresql/data

  valkey:
    image: valkey/valkey:9-alpine
    ports:
      - 6379:6379
    volumes:
      - valkey_data:/data

volumes:
  default_data:
  valkey_data:
